openapi: 3.1.0
info:
  title: Google Cloud VMware Engine Clusters API
  description: Programmatically manages VMware private clouds, clusters, and network resources on Google Cloud.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/vmware-engine
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://vmwareengine.googleapis.com/v1
  description: Google Cloud VMware Engine API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
tags:
- name: Clusters
  description: Manage clusters within private clouds
paths:
  /projects/{project}/locations/{location}/privateClouds/{privateCloudId}/clusters:
    get:
      operationId: listClusters
      summary: Google Cloud VMware Engine List Clusters
      description: Lists clusters in a given private cloud.
      tags:
      - Clusters
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: privateCloudId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  clusters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
                  nextPageToken:
                    type: string
    post:
      operationId: createCluster
      summary: Google Cloud VMware Engine Create Cluster
      description: Creates a new cluster in a given private cloud.
      tags:
      - Clusters
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: privateCloudId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        response:
          type: object
        metadata:
          type: object
    Cluster:
      type: object
      properties:
        name:
          type: string
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - ACTIVE
          - CREATING
          - UPDATING
          - DELETING
          - REPAIRING
        nodeTypeConfigs:
          type: object
          additionalProperties:
            type: object
            properties:
              nodeCount:
                type: integer
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
